            <div class="hothua mb20">
            	<div class="index-r-title"><h2><?php if ($this->feature_info){ ?><?php _e('该专题包含'); ?> <?php _e('%s 个话题', $this->feature_info['topic_count']); ?><?php } else { ?><?php _e('热门话题'); ?><?php } ?></h2><a href="topic/channel-hot" target="_blank" class="more">更多&gt;</a></div>
                <?php if (is_array($this->sidebar_hot_topics)): ?>                   
                <ul class="hlist">
                    <?php foreach ($this->sidebar_hot_topics AS $key => $val): ?>
                    <li>
                        <div class="zu"><a href="topic/<?php echo $val['topic_title'];?>" target="_blank"><img src="<?php echo get_topic_pic_url('mid', $val['topic_pic']); ?>" alt="<?php echo $val['topic_title'];?>"></a></div>
                        <div class="zu-l">
                            <span><a href="topic/<?php echo $val['topic_title'];?>" target="_blank"><?php echo $val['topic_title'];?></a></span>
                            <p><a href="topic/<?php echo $val['topic_title'];?>" target="_blank"><?php echo $val['discuss_count'] ?></a>个问题，<a href="topic/<?php echo $val['topic_title'];?>" target="_blank"><?php echo $val['focus_count'] ?></a>个关注</p>
                        </div>
                    </li>
                    <?php endforeach ?>                    
				 </ul>
                 <?php endif ?>
            </div>
        	<!--热门话题-->





