<?php TPL::output('global/tou.tpl.htm'); ?>
<link rel="stylesheet" href="<?php echo G_STATIC_URL; ?>/css/<?php echo $this->template_name; ?>/explore.css">
<div id="container" >
	<div class="col-sm-12 col-md-9 aw-main-content"> 
		<!--活跃榜开始-->
		<?php //TPL::output('block/dynamic_users_lists.tpl.htm'); ?>
		<!--活跃榜--结束-->

		<!-- tab切换 -->
		<ul class="nav nav-tabs aw-nav-tabs active hidden-xs">
			<li<?php if ($_GET['sort_type'] == 'unresponsive') { ?> class="active"<?php } ?>><a href="<?php if ($this->feature_info) { ?>feature_id-<?php echo $this->feature_info['id']; ?>__<?php } ?>category-<?php echo $this->category_info['id']; ?>__sort_type-unresponsive"><?php _e('等待回复'); ?></a></li>
			<li<?php if ($_GET['sort_type'] == 'hot') { ?> class="active"<?php } ?>><a href="<?php if ($this->feature_info) { ?>feature_id-<?php echo $this->feature_info['id']; ?>__<?php } ?>category-<?php echo $this->category_info['id']; ?>__sort_type-hot__day-7" id="sort_control_hot"><?php _e('热门'); ?></a></li>
			<li<?php if ($_GET['is_recommend']) { ?> class="active"<?php } ?>><a href="<?php if ($this->feature_info) { ?>feature_id-<?php echo $this->feature_info['id']; ?>__<?php } ?>category-<?php echo $this->category_info['id']; ?>__is_recommend-1"><?php _e('推荐'); ?></a></li>
			<li<?php if ((!$_GET['sort_type'] OR $_GET['sort_type'] == 'new') AND !$_GET['is_recommend']) { ?> class="active"<?php } ?>><a href="<?php if ($this->feature_info) { ?>feature_id-<?php echo $this->feature_info['id']; ?>__<?php } ?><?php if ($this->category_info['id']) { ?>category-<?php echo $this->category_info['id']; ?><?php } ?>"><?php _e('最新'); ?></a></li>

			<h2 class="hidden-xs"><?php if ($this->category_info) { ?><?php echo $this->category_info['title']; ?><?php } else if ($this->feature_info) { ?><?php echo $this->feature_info['title']; ?><?php } else { ?><i class="icon icon-list"></i> <?php _e('发现'); ?><?php } ?></h2>
		</ul>

		<?php if ($_GET['sort_type'] == 'hot') { ?>
		<!-- 自定义tab切换 -->
		<div class="aw-tabs">
			<ul>
				<li<?php if ($_GET['day'] == 30) { ?> class="active"<?php } ?>><a href="<?php if ($this->feature_info) { ?>feature_id-<?php echo $this->feature_info['id']; ?>__<?php } ?>sort_type-hot__<?php if ($this->category_info['id']) { ?>__category-<?php echo $this->category_info['id']; ?><?php } ?>__day-30" day="30"><?php _e('30天'); ?></a></li>
			  	<li<?php if ($_GET['day'] == 7) { ?> class="active"<?php } ?>><a href="<?php if ($this->feature_info) { ?>feature_id-<?php echo $this->feature_info['id']; ?>__<?php } ?>sort_type-hot__<?php if ($this->category_info['id']) { ?>__category-<?php echo $this->category_info['id']; ?><?php } ?>__day-7" day="7"><?php _e('7天'); ?></a></li>
			  	<li<?php if ($_GET['day'] == 1) { ?> class="active"<?php } ?>><a href="<?php if ($this->feature_info) { ?>feature_id-<?php echo $this->feature_info['id']; ?>__<?php } ?>sort_type-hot__<?php if ($this->category_info['id']) { ?>__category-<?php echo $this->category_info['id']; ?><?php } ?>__day-1" day="1"><?php _e('当天'); ?></a></li>
			</ul>
		</div>
		<!-- end 自定义tab切换 -->
		<?php } ?>

		<!-- end tab切换 -->

		<!--列表开始-->
		<div class="aw-mod aw-explore-list">
			<div class="mod-body">
				<div class="aw-common-list">
					<?php echo $this->posts_list_bit; ?>
				</div>
			</div>
			<div class="mod-footer">
				<?php echo $this->pagination; ?>
			</div>
		</div>
		<!--列表结束-->

	</div>
    <!--左侧内容--> 
    
    <div class="aw-side-right">
        <!-- 热门话题 -->
        <?php TPL::output('block/sidebar_hot_topics.tpl.htm'); ?>
        <div class="border_d9d9d9"></div>
        <!-- 活跃用户 -->
        <?php TPL::output('block/sidebar_hot_users.tpl.htm'); ?> 
        <div class="border_d9d9d9"></div>  
        <?php TPL::output('block/sidebar_hot_article.tpl.htm'); ?> 
		 <div class="border_d9d9d9"></div>  
        <!--猜你喜欢--> 
		<script type="text/javascript" src="http://b17.mum.cc/yk3a1ece96ffc8f638db1421dceff322e21be1de.js"></script>
      
        </div>
    <!--右侧内容-->
    
</div>
<!--内容-->
<?php TPL::output('global/footer_index.tpl.htm'); ?>